body {
  background-color: #f5f5f5;
  color: #757575;
}
/* цвет  вторичного текста (заголовки) #212121 */
/* цвет основного текста(которого больше) #757575*/
/* цвет хедер  #FFFFFF*/
/* цвет основного background: #f5f5f5*/
/* цвет футера и основной шапки #2F303A*/
/* цвет background наша команда #F5F4FA*/
/* акцент #2196F3 */
.logo: hover {
  color: #000000;
}

.accent {
  color: #2196f3;
}
